
{% extends 'back/base_main.html' %}

{% block titlt %}
    文章分类
{% endblock %}

{% block content %}
<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">分类列表</h2>
            <a href="{{ url_for('back.add_type') }}" class="fr top_rt_btn add_icon">添加文章分类</a>
        </div>
        <table class="table">
            <tr>
                <th>分类名称</th>
                <th>操作</th>
            </tr>
            {% for type in types %}
                <tr>
                    <!--<td class="center"><img src="images/banner01.jpg" width="50" height="50" alt="" /></td>-->
                    <td class="center">
                        {{ type.t_name }}
                    </td>
                    <td class="center">
                        <a href="{{ url_for('back.del_type', id=type.id) }}" title="删除" class="link_icon">&#101;</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}
