
{% extends 'back/base_main.html' %}

{% block title %}
    添加分类
{% endblock %}


{% block content %}
    <section class="rt_wrap mCustomScrollbar">

        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">文章分类详情</h2>
                <a class="fr top_rt_btn" href="{{ url_for('back.a_type')}}">返回文章分类列表</a>
            </div>
            <form action="" method="post" >
                {{ error }}
                <section>
                    <ul class="ulColumn2">
                        <li>
                            <span class="item_name" style="width:120px;">分类名称：</span>
                                <input type="text" name="atype">
                        </li>
                        <li>
                            <span class="item_name" style="width:120px;"></span>
                            <input type="submit" class="link_btn"/>
                        </li>
                    </ul>
                </section>
            </form>
        </div>
    </section>
{% endblock %}

